<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>

	<!-- libs -->
	<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>	
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

	<!-- styles -->
	<link rel="stylesheet" type="text/css" href="./css/loader.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">

	<!-- scripts -->
	<script src="./js/common.js"></script>
	<script src="./js/vm-info.js"></script>
	<script src="./js/vm-list.js"></script>
</head>
<body>

	<header>
		<h1><%= title %></h1>
	</header>

	<article>
		<h2>VM List :</h2>
		<div id="vm-list">
			<!-- insert virtual machine list into here. -->
		</div>
	</article>

	<article>
		<h2>VM Info :</h2>
		<div id="vm-info">
			<!-- insert virtual machine infomation into here. -->
		</div>
	</article>

</body>
</html>

