<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>VBWM (<%= serverName %>)</title>

	<!-- libs -->
	<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="./lib/jquery.plainmodal.min.js"></script>

	<!-- styles -->
	<link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="./css/loader.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

	<!-- scripts -->
	<script src="./js/common.js"></script>
	<script src="./js/vm-info.js"></script>
	<script src="./js/vm-list.js"></script>
</head>
<body>

	<header>
		<h1>
			<%= title %>
			<span class="version">ver <%= ver %></span>
		</h1>
	</header>

	<article id="vm-list-screen">
		<h2>Virtual Machines :</h2>
		<div id="vm-list">
			<!-- insert virtual machine list into here. -->
		</div>
	</article>

	<article id="vm-info-screen">
		<h2>Virtual Machine's Info :</h2>
		<div id="vm-info">
			<!-- insert virtual machine infomation into here. -->
		</div>
	</article>

</body>
</html>

