/* https://color.adobe.com/ja/Digerati-color-theme-231178/ */
/* #52656B グレー */
/* #FF3B77 ピンク */
/* #CDFF00 グリーン */
/* #FFFFFF 白 */
/* #B8B89F ベージュ */

/* #77d800 グリーン② */

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', arial, 'メイリオ', sans-serif;
	font-size: 14px;
	color: #333;
}

* {
	box-sizing: border-box;
}

header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	background: #52656B;
	color: #FFFFFF;
}
header h1 {
	margin: 0;
	padding: 10px 15px;
	font-size: 1.5em;
}
header .version {
	font-size: 0.65em;
	font-weight: normal;
	margin-left: 10px;
}

header + article {
	margin-top: 50px;
}
article {
	padding: 10px 15px;
}

article h2 {
	margin: 0;
	padding: 15px 0;
	font-size: 1.3em;
}
article > h2 {
	padding: 5px 0 15px 0;
}

.vm-refresh-button {
	background: #7d9ca6;
	border-radius: 4px;
	border: solid 1px #7d9ca6;
	color: #FFFFFF;
	font-size: 0.8em;
	font-weight: normal;
	padding: 5px 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	transition-duration: 300ms;
	margin-left: 15px;
}
.vm-refresh-button:hover {
	cursor: pointer;
	background: #7d9ca6;
	color: #FFFFFF;
	transition-duration: 300ms;
}

.vm-list .vm {
	position: relative;
	width: 100%;
	min-width: 500px;
	border: solid 1px #7d9ca6;
	border-left: solid 15px #7d9ca6;
	border-radius: 5px;
	padding: 10px 10px 0 10px;
	margin-bottom: 15px;
}
.vm-list .vm.running {
	border: solid 1px #77d800;
	border-left: solid 15px #77d800;
}

.vm-list .vm .info {
	margin-bottom: 10px;
}
.vm-list .vm .label-name {
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1px #7d9ca6;
}
.vm-list .vm.running .label-name {
	border-bottom: solid 1px #77d800;
}

.vm-list .vm .state {
	position: relative;
	display: inline-block;
	border-right: solid 1px #aaa;
	padding: 0 10px 0 26px;
	font-weight: bold;
}
.vm-list .vm .label-state {
	display: inline-block;
}
.vm-list .vm .state i {
	display: inline-block;
	position: absolute;
	top: -4px;
	left: 0;
	font-size: 24px;
}
.vm-list .vm .state i.running { color: #77d800; }
.vm-list .vm .state i.stoped { color: #FF3B77; }
.vm-list .vm.running .state i.running { display: inline-block; }
.vm-list .vm.running .state i.stoped { display: none; }
.vm-list .vm.stoped .state i.running { display: none; }
.vm-list .vm.stoped .state i.stoped { display: inline-block; }

.vm-list .vm .uuid {
	display: none;
	border-right: solid 1px #aaa;
	padding: 0 10px 0 10px;
}
.vm-list .vm .label-uuid {
	display: inline-block;
	vertical-align: middle;
}
.vm-list .vm .os {
	display: inline-block;
	border-right: solid 1px #aaa;
	padding: 0 10px 0 10px;
}
.vm-list .vm .mem {
	display: inline-block;
	/* border-right: solid 1px #aaa; */
	padding: 0 10px 0 10px;
}
.vm-list .vm .label-mem {
	display: inline-block;
	margin-left: 4px;
}


.vm-list .vm button {
	background: #7d9ca6;
	border-radius: 4px;
	border: solid 1px #7d9ca6;
	color: #FFFFFF;
	font-size: 1em;
	font-weight: normal;
	padding: 5px 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	transition-duration: 300ms;
}
.vm-list .vm button:hover {
	cursor: pointer;
	border: solid 1px #FF3B77;
	background: #FF3B77;
	color: #FFFFFF;
	transition-duration: 300ms;
}
.vm-list .vm button:disabled {
	cursor: unset;
	background: none;
	border: solid 1px #B8B89F;
	color: #B8B89F;
}

#vm-info-screen {
	display: none;
	background: #FFFFFF;
	padding: 15px;
	width: auto;
	border: solid 1px #52656B;
	border-radius: 10px;
}
#vm-info {
	overflow: auto;
	height: 400px;
	padding: 1px;
}
.vm-info-table {
	border-collapse: collapse;
}
.vm-info-table th,
.vm-info-table td {
	text-align: left;
	max-width: 500px;
	padding: 5px 10px;
}
.vm-info-table th {
	background: #52656B;
	border: solid 1px #888;
	color: #fff;
}
.vm-info-table td {
	border: solid 1px #52656B;
	font-size: 0.9em;
}
.vm-info-table .key {
	white-space: nowrap;
}



.dialog {
	font-size: 1.0em;
}
.dialog h3 {
	display: inline-block;
	width: 100%;
	font-weight: bold;
	font-size: 1.0em;
	padding: 0;
	margin: 10px 0 10px 0;
}
.dialog-message {
	font-size: 1.0em;
	line-height: 1.5em;
	padding: 0;
	margin: 10px 0 10px 0;
}
.dialog-buttons {
	margin: 15px 0 10px 0;
	text-align: right;
}
.dialog-cancel,
.dialog-ok {
	background: #7d9ca6;
	border-radius: 4px;
	border: solid 1px #7d9ca6;
	color: #FFFFFF;
	font-size: 1em;
	font-weight: normal;
	padding: 5px 15px;
	transition-duration: 300ms;
	min-height: 45px;
	vertical-align: middle;
}
.dialog-cancel:hover,
.dialog-ok:hover {
	cursor: pointer;
	border: solid 1px #FF3B77;
	background: #FF3B77;
	color: #FFFFFF;
	transition-duration: 300ms;
}

.vm-clone-dialog-name {
	width: 100%;
	margin: 0 0 10px 0;
	padding: 10px;
	border: solid 1px #888;
	border-radius: 5px;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-size: 0.9em;
}


