
html, body {
	margin: 0;
	padding: 0;
	font-family: arial, 'メイリオ', sans-serif;
	font-size: 12pt;
}

header {
	width: 100%;
	background: rgb(11,202,196);
	color: #fff;
}
header h1 {
	margin: 0;
	padding: 10px 15px;
	font-size: 20pt;
}

article {
	padding: 10px 15px;
}

article h2 {
	margin: 0;
	padding: 15px 0;
	font-size: 16pt;
}

.vm-list-table {
	border-collapse: collapse;
}
.vm-list-table th,
.vm-list-table td {
	text-align: left;
	padding: 5px 10px;
}
.vm-list-table th {
	background: rgb(11,202,196);
	border: solid 1px rgb(5,152,146);
	color: #fff;
}
.vm-list-table td {
	border: solid 1px #888;
	white-space: nowrap;
}

.vm-list-table .label-name {
	font-weight: bold;
}
.vm-list-table .label-uuid {
	font-size: 0.8em;
}


.vm-info-table {
	border-collapse: collapse;
}
.vm-info-table th, 
.vm-info-table td {
	text-align: left;
	max-width: 500px;
	padding: 3px 5px;
}
.vm-info-table th {
	background: rgb(11,202,196);
	border: solid 1px rgb(5,152,146);
	color: #fff;
}
.vm-info-table td {
	border: solid 1px #888;
	font-size: 0.8em;
}
.vm-info-table .key {
	white-space: nowrap;
}

